body {
    font-family: 'Montserrat', sans-serif;
}

header h2{
    font-size: 3rem;
    font-weight: 700;
}

header {
    background-color:#34495e;
    color: #f2f2f2;
}


header ul li {
    font-size: 2rem;
    list-style: none;
}

.ebook-img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.space {
    padding: 100px 0 120px 0;
}

.space-2 {
    padding: 30px 0 10px 0;
}

.alert {
    display: none;
}

footer {
    background-color: #ecf0f1;
}